version: '3.8'
services:
  web:
    build:
      context: .
      dockerfile: docker/Dockerfile
    security_opt:
      - apparmor=unconfined
    ports:
      - "3000:3000"
    volumes:
      - ./app:/usr/src/app
      - ./app/db:/usr/src/app/db
    restart: unless-stopped
    command: sh -c "npm install --no-audit --no-fund && node app.js"
